[user]
	name = ca1
	email = ca1@ca1.dev

[alias]
	amend = commit --amend --no-edit

[includeIf "gitdir:~/code/uni/"]
    path = ~/.gitconfig-uni

[includeIf "gitdir:~/code/work/"]
    path = ~/.gitconfig-work

