$surface: #1e1e2e;
$on-surface: #cdd6f4;

$primary: #cba6f7;
$on-primary: #181825;
$primary-container: #313244;
$on-primary-container: #cdd6f4;

$tertiary: #89b4fa;
$on-tertiary: #181825;

$surface-container-high: #45475a;

$surface-container-low: #313244;

$shadow: #00000040;

@import "../../style.scss";
