$surface: #1a1b26;
$on-surface: #c0caf5;

$primary: #7aa2f7;
$on-primary: #16161e;
$primary-container: #292e42;
$on-primary-container: #c0caf5;

$tertiary: #bb9af7;
$on-tertiary: #16161e;

$surface-container-high: #3b3d55;

$surface-container-low: #2a2b3c;

$shadow: #00000040;

@import "../../style.scss";
